%green-shadow {
    box-shadow: 6px 6px 0px $dark-green;
    box-shadow: none;
}

%blue-shadow {
    box-shadow: 6px 6px 0px $dark-blue;
    box-shadow: none;
}

%a-tag-reset {
    position: static;
    font-style: normal;
    font-weight: $light;
    border: none;
    padding: 0;
    color: inherit;

    &:hover, &:active, &:visited, &:focus {
        // color: inherit;
    }
}

%gradient-1 {
	background: linear-gradient(135deg, $color-1 20%, $color-2 100%);
}

$ease-bounce: cubic-bezier(0.68, -0.55, 0.27, 1.55);
