*, *::before, *::after {
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

@include selection {
    background: $color-1;
    color: $white;
}


html, body {
    font-family: 'Fira Sans', sans-serif;
    color: $text-color;
    font-size: 10px;
    font-weight: $light;
    overflow-x: hidden;
}

a {
    text-decoration: none;

    &:hover, &:active, &:visited, &:focus {
        text-decoration: none;
    }
}

p {
    // font-weight: $normal;
}

ul {
    margin: 0;

    li {
        margin: 0;
    }
}

.overlay {
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    opacity: 0;
    pointer-events: none;

    &.open {
        // background: rgba(255, 255, 255, 0.75);
        opacity: 1;
        pointer-events: auto;
    }
}

nav {
    $nav-height: 60px;

    position: fixed;
    z-index: 10;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: $nav-height;

    font-family: 'Fira Mono', monospace;
    font-size: $fs-h4;
    font-weight: $normal;
    color: $white;
    cursor: pointer;
    @include user-select(none);

    &:hover {
        .logo {
            &::after {
                // animation: blink 1s linear 0s normal infinite;
            }
        }
    }

    &.scrolled {

    }

    &.open {
        .dropdown-container {
            opacity: 1;
            pointer-events: auto;
            transform: none;
        }
    }

    $sections: welcome, about, projects, resume, contact;

    @each $section in $sections {
        &.#{$section} .current-section-container .current-section.#{$section} {
            opacity: 1;
            pointer-events: auto;
            position: relative;
        }
    }

    // &.welcome {
    //     .current-section-container {
    //         .current-section {
    //             &.welcome {
    //                 opacity: 1;
    //                 pointer-events: auto;
    //                 position: relative;
    //             }
    //         }
    //     }
    // }

    .logo-container, .current-section-container {
        position: relative;
        display: flex;
        align-items: center;

        background: black;
        height: 100%;
        padding: 0 20px;
    }

    .logo-container {
        z-index: 1;
        font-weight: $bold;

        .logo {
            @include user-select(none);

            &::after {
                content: "_";
            }
        }
    }

    .current-section-container {


        .dropdown-arrow {
            position: relative;

            width: 12px;
            height: 12px;
            margin-bottom: 6px;
            margin-left: 10px;

            &::before, &::after {
                content: "";
                position: absolute;
                transform: rotate(45deg);

                height: 100%;
                width: 100%;
                border-right: 2px solid $white;
                border-bottom: 2px solid $white;
            }
        }

        .current-section {
            position: absolute;
            opacity: 0;
            pointer-events: none;

            &.welcome {

            }

            &.about {

            }

            &.projects {

            }

            &.resume {

            }
        }
    }

    .dropdown-container {
        position: absolute;

        background: black;
        padding: 20px;
        width: 100%;
        top: $nav-height + 10px;

        opacity: 0;
        pointer-events: none;

        transform: scale(0);
        transform-origin: top center;

        .dropdown-item {
            padding: 10px 0;
        }

        .welcome {

        }

        .about {

        }

        .projects {

        }

        .resume {

        }
    }

}

.container {
    font-size: $fs-body;
    line-height: 1.5;
    padding: 100px;

    &.full-bleed {
        padding: 100px 0;
        max-width: none;
    }

    &.active {
        background: $dark-gray;
    }

    .content {
        max-width: 1400px;
        margin: 0 auto;
    }

    .section-title {
        display: inline-block;
        @include user-select(none);
        cursor: default;

        font-size: 200px;
        font-weight: $bold;
        color: $color-1;

        background: linear-gradient(135deg, $color-1 20%, $color-2 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        margin-bottom: 0;
        margin-left: -20px;
        padding: 20px;
    }

    .subsection-title {
        font-size: $fs-h2;
        font-weight: $bold;
        color: $color-1;
        margin-bottom: 0.5em;
        line-height: 1;
    }

    @media (max-width: $tablet-md) {
        padding: 50px;
    }

    @media (max-width: $phone-lg) {
        padding: 50px;
    }
}

.col-container {
    display: flex;
    flex-flow: row wrap;
    margin-right: -40px;
    margin-bottom: -40px;
}

.col {
    display: flex;
    flex-flow: column;

    margin-right: 40px;
    margin-bottom: 40px;
}

.first-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    background: url(../images/hero.jpg) no-repeat;
    background-size: cover;
    height: 100vh;

    &::before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        width: 100%;
        height: 100%;
        background: linear-gradient(135deg, $color-1 20%, $color-2 100%);
        opacity: 0.9;
    }

    .content {
        position: relative;
        z-index: 2;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        padding: 60px;

        .headshot {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            margin-bottom: 20px;
            background: url(../images/headshot.jpg) no-repeat;
            background-size: cover;
        }

        .name {
            font-size: $fs-large;
            font-weight: $bold;
            margin-bottom: 20px;
            color: $white;
            text-align: center;
            line-height: 1;
        }

        .desc {
            font-size: $fs-h3;
            color: $white;
            text-align: center;
        }
    }
}

.about {
    .content {
        display: flex;
        flex-direction: column;
    }

    .row {
        display: flex;
        flex-flow: row;

        &.row-1 {
            align-items: flex-end;
            margin-bottom: 100px;
        }

        &.row-2 {

        }
    }

    img {
        align-self: flex-start;
        flex-basis: 600px;

        max-width: 75%;
        height: auto;
        @extend %green-shadow;

        &.img-1 {
            margin-left: -7.5%;
        }

        &.img-2 {
            max-width: 75%;
            align-self: flex-end;
            margin-top: 20%;
            margin: 15% -15% 0 0;
        }

        &.img-3 {

        }
    }

    .text {
        max-width: 600px;
        // align-self: flex-end;

        color: $white;
        background: $darker-blue;
        font-size: $fs-h4;
        padding: 40px;
        margin: 0 0 5% -10%;

        @extend %green-shadow;
    }
}

.projects {
    // background: $text-color;

    .section-title {
        // margin-left: 40px;
    }
    .projects-container {
        display: flex;
        flex-flow: row wrap;
        background: linear-gradient(135deg, $color-2 0%, $color-1 100%);

        .a-project {
            display: flex;
            flex-flow: column;
            flex-basis: 33.3333333%;

            padding: 40px;
            background: $color-1;
            color: $white;
            cursor: pointer;

            @for $i from 1 through 6 {
                &:nth-of-type(#{$i + 1}) {
                    background: darken($color-1, percentage($i * 0.015));
                    // background: adjust-color($color-1, $lightness: percentage($i * -0.0167), $hue: $i * 5);
                }
            }

            &:hover {
                background: none;
            }

            .project-name {
                font-size: $fs-h3;
                font-weight: $bold;
            }

            .project-desc {
                font-size: $fs-h5;
                font-style: italic;
            }
        }
    }

    @media (max-width: $monitor-md) {
        .projects-container {
            .a-project {
                flex-basis: 50%;
            }
        }
    }

    @media (max-width: $tablet-md) {
        .projects-container {
            .a-project {
                flex-basis: 100%;
            }
        }
    }
}

.resume {
    display: flex;
    flex-flow: row wrap;

    // background: $dark-gray;
    // background: $darker-green;
    // color: $white;

    .section-title {
        color: $white;
    }

    .col-container {

    }

    .col {
        flex-grow: 1;

        &.large {
            flex-grow: 1;
            flex-basis: 50%;
        }

        &.small {
            flex-grow: 1;
            flex-basis: 30%;
        }
    }

    .subsection {
        background: $white;
        padding: 40px;
        @extend %green-shadow;
    }

    .subsection-title {
        position: relative;
        z-index: 2;
        display: inline-flex;

        color: $text-color;
    }

    .subsection-body {
        position: relative;
    }

    ul {
        li {

        }
    }

    .experience {
        margin-bottom: 40px;

        .an-experience {
            margin-bottom: 1em;

            &:last-of-type {
                margin-bottom: 0;
            }

            .experience-title {
                font-size: $fs-h4;
                font-weight: $bold;
            }

            .experience-position {
                font-size: $fs-body;
                font-style: italic;
            }
        }
    }

    .volunteering {

    }

    .education {
        margin-bottom: 40px;

        .where {
            font-size: $fs-h4;
            font-weight: $bold;
        }

        .when {
            font-size: $fs-h4;
            font-style: italic;
            margin-bottom: 1em;
        }

        .relevant-courses {
            font-size: $fs-h4;
            font-weight: $bold;
        }
    }

    .skills {
        // max-width: 30%;

        .status {
            font-size: $fs-h4;
            font-weight: $bold;
        }

        .subsection-body {
            display: flex;
            flex-flow: row wrap;
        }

        .col {
            &.two {
                flex-basis: 30%;
            }
        }
    }
}
