*, *::before, *::after {
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}

@include selection {
    background: $color-1;
    color: $white;
}

html, body {
    font-family: 'Fira Sans', sans-serif;
    color: $text-color;
    font-size: 10px;
    font-weight: $light;
    overflow-x: hidden;
}

body {
    transition: all 0.75s ease-in-out;

    &.welcome {
        background: $black;
        // background: linear-gradient(135deg, $color-1 20%, $color-2 100%);
    }

    &.about {
        background: $white;
    }

    &.projects {
        background: $darkest-blue;
    }

    &.resume {
        background: $dark-gray;
    }

    &.contact {

    }
}

a {
    position: relative;
    text-decoration: none;
    color: $color-1;
    font-style: italic;
    // font-weight: 400;
    padding-bottom: 2px;
    border-bottom: 1px solid transparent;

    &:hover, &:active, &:visited, &:focus {
        text-decoration: none;
        // color: $color-1;
    }

    &:hover {
        border-color: $color-1;
        border-bottom: 1px solid $color-1;
    }

    &:active {
        opacity: 0.5;
    }
}

p {
    // font-weight: $normal;
}

ul {
    margin: 0;

    li {
        margin: 0;
    }
}

.overlay {
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    opacity: 0;
    pointer-events: none;

    &.open {
        // background: rgba(255, 255, 255, 0.75);
        // opacity: 1;
        pointer-events: auto;
    }
}

nav {
    $nav-height: 50px;

    position: fixed;
    z-index: 10;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: $nav-height;

    font-family: 'Fira Mono', monospace;
    font-size: $fs-h5;
    font-weight: $normal;
    color: $white;
    cursor: pointer;
    @include user-select(none);

    &:hover {
        .logo {
            &::after {
                // animation: blink 1s linear 0s normal infinite;
            }
        }
    }

    &.scrolled {

    }

    &.open {
        .dropdown-container {
            opacity: 1;
            pointer-events: auto;
            transform: none;
        }
    }

    $sections: welcome, about, projects, resume, contact;

    @each $section in $sections {
        &.#{$section} .current-section-container .current-section.#{$section} {
            opacity: 1;
            pointer-events: auto;
            position: relative;
        }
    }

    .logo-container, .current-section-container {
        position: relative;
        display: flex;
        align-items: center;

        background: black;
        height: 100%;
        padding: 0 20px;
    }

    .logo-container {
        z-index: 1;
        font-weight: $bold;

        .logo {
            @include user-select(none);

            &::after {
                content: "_";
            }
        }
    }

    .current-section-container {

        .dropdown-arrow {
            position: relative;

            width: 12px;
            height: 12px;
            margin-bottom: 6px;
            margin-left: 10px;

            &::before, &::after {
                content: "";
                position: absolute;
                transform: rotate(45deg);

                height: 100%;
                width: 100%;
                border-right: 2px solid $white;
                border-bottom: 2px solid $white;
            }
        }

        .current-section {
            position: absolute;
            opacity: 0;
            pointer-events: none;

            &.welcome {

            }

            &.about {

            }

            &.projects {

            }

            &.resume {

            }
        }
    }

    .dropdown-container {
        position: absolute;

        background: black;
        padding: 20px;
        width: 100%;
        top: $nav-height + 10px;

        opacity: 0;
        pointer-events: none;

        transform: scale(0);
        transform-origin: top center;

        .dropdown-item {
            padding: 10px 0;
        }

        .welcome {

        }

        .about {

        }

        .projects {

        }

        .resume {

        }
    }

}

.container {
    font-size: $fs-body;
    line-height: 1.5;
    padding: 100px;

    &.full-bleed {
        padding: 100px 0;
        max-width: none;
    }

    &.active {

    }

    @media (max-width: $tablet-md) {
        padding: 50px;
    }

    @media (max-width: $phone-lg) {
        padding: 30px;
    }

    .content {
        max-width: 1400px;
        margin: 0 auto;
        width: 100%;
    }

    .section-title {
        $pad: 10px;

        display: inline-block;
        @include user-select(none);
        cursor: default;

        font-size: 200px;
        font-weight: $bold;
        color: $color-1;

        background: linear-gradient(135deg, $color-1 20%, $color-2 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

        padding: $pad;
        margin-bottom: 0;
        margin-left: -$pad - 10px;

        @media (max-width: $monitor-sm) {
            font-size: 150px;
            margin-left: -$pad -8px;
        }

        @media (max-width: $tablet-md) {
            font-size: 100px;
            margin-left: -$pad - 5px;
        }

        @media (max-width: $phone-lg) {
            font-size: $fs-large;
        }
    }

    .subsection-title {
        font-size: $fs-h2;
        font-weight: $bold;
        color: $color-1;
        margin-bottom: 0.5em;
        line-height: 1;
    }

    .col-container {
        display: flex;
        flex-flow: row wrap;
        margin-right: -40px;
        margin-bottom: -40px;
    }

    .col {
        display: flex;
        flex-flow: column;

        margin-right: 40px;
        margin-bottom: 40px;
    }

    &.welcome {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        // background: url(../images/hero.jpg) no-repeat;
        // background-size: cover;
        height: 100vh;

        .welcome-left {
            position: absolute;
            z-index: 1;
            top: 0;
            left: 0;
            bottom: 0;
            width: 75%;
            background: $black;
        }

        .welcome-right {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            // margin-left: 30%;

            // background: url(../images/hero.jpg) no-repeat;
            // background-size: cover;
            height: 100vh;

            &::before {
                content: "";
                position: absolute;
                z-index: 2;
                top: 0;
                bottom: 0;
                // left: 0;
                right: 0;

                width: 100%;
                height: 100%;
                background: linear-gradient(135deg, $color-1 20%, $color-2 100%);
                opacity: 0.9;

                max-width: 65%;
                width: 100%;
            }

            .hero {
                position: absolute;
                z-index: 1;

                top: 0;
                // left: 0;
                right: 0;
                bottom: 0;

                width: 100%;
                max-width: 65%;

                background: url(../images/hero.jpg) no-repeat;
                background-size: cover;
            }
        }

        .content {
            position: relative;
            z-index: 4;

            // padding: 60px;

            .info {
                display: flex;
                flex-flow: column;
                justify-content: center;
                align-items: flex-start;
            }

            .headshot {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                margin-bottom: 20px;
                background: url(../images/headshot.jpg) no-repeat;
                background-size: cover;
            }

            .section-title {
                margin-bottom: -20px;
                background: none;
                -webkit-text-fill-color: initial;
                color: $white;
            }

            .desc {
                font-size: $fs-h3;
                color: $white;
                text-align: center;
                margin-bottom: 20px;
            }

            .social-container {
                display: flex;
                flex-flow: row wrap;

                .icon {
                    width: 75px;
                    height: 75px;
                    margin-right: 20px;

                    cursor: pointer;

                    &:last-of-type {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    &.about {
        .content {
            display: flex;
            flex-direction: column;
        }

        .row {
            display: flex;
            flex-flow: row;

            &.row-1 {
                align-items: flex-end;
                margin-bottom: 100px;
            }

            &.row-2 {

            }
        }

        img {
            align-self: flex-start;
            flex-basis: 600px;

            max-width: 75%;
            height: auto;
            @extend %green-shadow;

            &.img-1 {
                margin-left: -7.5%;
            }

            &.img-2 {
                max-width: 75%;
                align-self: flex-end;
                margin-top: 20%;
                margin: 15% -15% 0 0;
            }

            &.img-3 {

            }
        }

        .text {
            max-width: 600px;

            color: $white;
            background: $darkest-blue;
            font-size: $fs-h4;
            padding: 40px;
            margin: 0 0 5% -10%;

            @extend %green-shadow;
        }
    }

    &.projects {

        .section-title {
            // margin-left: 40px;
        }
        .projects-container {
            display: flex;
            flex-flow: row wrap;
            background: linear-gradient(135deg, $color-2 0%, $color-1 100%);

            .a-project {
                @extend %a-tag-reset;

                display: flex;
                flex-flow: column;
                flex-basis: 33.3333333%;

                padding: 40px;
                background: $color-1;
                color: $white;
                cursor: pointer;

                @for $i from 1 through 6 {
                    &:nth-of-type(#{$i + 1}) {
                        background: darken($color-1, percentage($i * 0.015));
                        // background: adjust-color($color-1, $lightness: percentage($i * -0.0167), $hue: $i * 5);
                    }
                }

                &:hover {
                    background: none;
                }

                .project-name {
                    font-size: $fs-h3;
                    font-weight: $bold;
                }

                .project-desc {
                    font-size: $fs-h5;
                    font-style: italic;
                }
            }
        }

        @media (max-width: $monitor-md) {
            .projects-container {
                .a-project {
                    flex-basis: 50%;
                }
            }
        }

        @media (max-width: $tablet-md) {
            .projects-container {
                .a-project {
                    flex-basis: 100%;
                }
            }
        }
    }

    &.resume {
        $spc: 40px;
        $spc-sm: 20px;

        display: flex;
        flex-flow: row wrap;

        .content {

        }

        .section-title {
            color: $white;
        }

        .col-container {
            @media (max-width: $monitor-sm) {
                margin-right: -$spc-sm;
                margin-bottom: -$spc-sm;
            }
        }

        .col {
            flex-grow: 1;

            &.large {
                flex-grow: 1;
                flex-basis: 50%;
            }

            &.small {
                flex-grow: 1;
                flex-basis: 30%;
            }

            @media (max-width: $monitor-sm) {
                margin-right: $spc-sm;
                margin-bottom: $spc-sm;

                &.large, &.small {
                    flex-basis: 100%;
                    margin-bottom: 0;
                }
            }
        }

        .subsection {
            background: $white;
            padding: $spc;
            margin-bottom: $spc;
            @extend %green-shadow;

            @media (max-width: $monitor-sm) {
                margin-bottom: $spc-sm;
            }
        }

        .subsection-title {
            position: relative;
            z-index: 2;
            display: inline-flex;

            color: $color-1;
        }

        .subsection-body {
            position: relative;
        }

        ul {
            li {

            }
        }

        .experience {

            .an-experience {
                margin-bottom: 1em;

                &:last-of-type {
                    margin-bottom: 0;
                }

                .experience-title {
                    font-size: $fs-h4;
                    font-weight: $bold;
                }

                .experience-position {
                    font-size: $fs-body;
                    font-style: italic;
                }
            }
        }

        .volunteering {

        }

        .education {

            .where {
                font-size: $fs-h4;
                font-weight: $bold;
            }

            .when {
                font-size: $fs-h4;
                font-style: italic;
                margin-bottom: 1em;
            }

            .relevant-courses {
                font-size: $fs-h4;
                font-weight: $bold;
            }

            ul {
                list-style: none;
                padding: 0;
            }
        }

        .skills {
            .status {
                font-size: $fs-h4;
                font-weight: $bold;
            }

            .subsection-body {
                display: flex;
                flex-flow: row wrap;
            }

            .col {
                &.two {
                    flex-basis: 30%;
                }
            }

            ul {
                list-style: none;
                padding: 0;
            }
        }
    }

    &.contact {

    }
}
