*, *::before, *::after {
    box-sizing: border-box;
    transition: all 0.3s ease-in-out
}

body {
    font-family: 'Fira Sans', sans-serif;
    color: $text-color;
    font-size: 10px;
    font-weight: 300;
}

a {
    text-decoration: none;

    &:hover, &:active, &:visited, &:focus {
        text-decoration: none;
    }
}

nav {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 100px;
    padding: 0px 60px;

    .logo {
        font-family: 'Fira Mono', monospace;
        font-size: $fs-h4;
        font-weight: 700;
        color: $white;
        cursor: pointer;
        @include user-select(none);
    }
}

.container {
    padding: 100px;
    max-width: 1400px;
    margin: 0 auto;

    &.full-bleed {
        padding: 100px 0;
        max-width: none;
    }

    .section-title {
        font-size: $fs-large;
        font-weight: 700;
        color: $color-1;
        margin-bottom: 0.5em;
    }

    .content {

    }
}

.first-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    background: url(../images/hero.jpg) no-repeat;
    background-size: cover;
    height: 100vh;

    &::before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        width: 100%;
        height: 100%;
        @include background-image(linear-gradient(135deg, $color-1 20%, $color-2 100%));
        opacity: 0.9;
    }

    .content {
        position: relative;
        z-index: 2;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        padding: 60px;

        .headshot {
            width: 200px;
            height: 200px;
            border-radius: 50%;
            margin-bottom: 20px;
            background: url(../images/headshot.jpg) no-repeat;
            background-size: cover;
        }

        .name {
            font-size: $fs-large;
            font-weight: 700;
            margin-bottom: 20px;
            color: $white;
            text-align: center;
        }

        .desc {
            font-size: $fs-h3;
            color: $white;
            text-align: center;
        }
    }
}

.projects {
    .section-title {
        margin-left: 40px;
    }
    .projects-container {
        display: flex;
        flex-flow: row wrap;
        @include background-image(linear-gradient(135deg, $color-2 0%, $color-1 100%));

        .a-project {
            display: flex;
            flex-flow: column;
            flex-basis: 33.3333333%;

            padding: 40px;
            background: $color-1;
            color: $white;
            cursor: pointer;

            @for $i from 1 through 6 {
                &:nth-of-type(#{$i + 1}) {
                    background: darken($color-1, percentage($i * 0.015));
                    // background: adjust-color($color-1, $lightness: percentage($i * -0.0167), $hue: $i * 5);
                }
            }

            &:hover {
                background: none;
            }

            .project-name {
                font-size: $fs-h3;
                font-weight: 700;
            }

            .project-desc {
                font-size: $fs-h5;
                font-style: italic;
            }
        }
    }

    @media (max-width: $monitor-md) {
        .projects-container {
            .a-project {
                flex-basis: 50%;
            }
        }
    }

    @media (max-width: $tablet-md) {
        .projects-container {
            .a-project {
                flex-basis: 100%;
            }
        }
    }
}
