$fs-jumbo: 14.4rem;
$fs-large: 7.2rem;
$fs-h1: 5.4rem;
$fs-h2: 4.8rem;
$fs-h3: 3.6rem;
$fs-h4: 2.4rem;
$fs-h5: 2.0rem;
$fs-body: 1.8rem;
$fs-label: 1.4rem;


$light: 300;
$normal: 400;
$bold: 700;


$blue: #3091f2;
$green: #3dc578;
$blue-green: #3cc4a4;

$light-blue: #b3c9ef;
$light-green: #b5e0c8;

$dark-blue: #596f80;
$dark-blue-green: #597480;
$dark-green: #59807d;

$darker-blue: darken($dark-blue, 12.5%);
$darker-green: darken($dark-green, 12.5%);

$darkest-blue: darken($dark-blue, 25%);
$darkest-green: darken($dark-green, 25%);

$dark-gray: #222;
$gray: #999;
$light-gray: #e8e8e8;
$lighter-gray: #eee;

$white: #fff;

$color-1: $blue-green;
$color-2: $blue;
$color-3: $green;
$text-color: $darkest-blue;


$phone-sm: 360px;
$phone-md: 400px;
$phone-lg: 480px;
$tablet-md: 768px;
$tablet-lg: 1024px;
$monitor-sm: 1152px;
$monitor-md: 1280px;
$monitor-lg: 1500px;