$fs-jumbo: 14.4em;
$fs-large: 7.2em;
$fs-h1: 5.4em;
$fs-h2: 4.8em;
$fs-h3: 3.6em;
$fs-h4: 2.4em;
$fs-h5: 2.0em;
$fs-body: 1.6em;
$fs-label: 1.4em;

$blue: #3091f2;
$green: #3dc578;
$blue-green: #3cc4a4;

$dark-blue: #596f80;
$dark-blue-green: #597480;
$dark-green: #59807d;

$light-blue: #b3c9ef;
$light-green: #b5e0c8;



$dark-gray: #3f4e5e;
$gray: #999;
$light-gray: #e8e8e8;
$lighter-gray: #eee;

$white: #fff;

$color-1: $blue-green;
$color-2: $blue;
$color-3: $green;
$text-color: $dark-gray;
