$fs-jumbo: 14.4em;
$fs-large: 7.2em;
$fs-title: 3.6em;
$fs-subtitle: 2.4em;
$fs-body: 1.8em;
$fs-label: 1.4em;

$light-blue: #b3c9ef;
$blue: #3091f2;
$light-green: #b5e0c8;
$green: #3dc578;
$blue-green: #3cc4a4;

$dark-gray: #3f4e5e;
$gray: #999;
$light-gray: #e8e8e8;
$lighter-gray: #eee;

$white: #fff;

$primary-color: $blue;
$secondary-color: $blue-green;
$text-color: $dark-gray;
