$fs-jumbo: 144px;
$fs-title: 36px;
$fs-subtitle: 24px;
$fs-body: 20px;
$fs-label: 16px;

$light-blue: #b3c9ef;
$blue: #3091f2;
$light-green: #b5e0c8;
$green: #3dc578;
$blue-green: #3cc4a4;
$dark-gray: #3f4e5e;
$gray: #999;
$light-gray: #e8e8e8;
$lighter-gray: #eee;
$primary-color: $blue;
$secondary-color: $blue-green;
$text-color: $dark-gray;
